* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  padding: 8px 16px;
  min-width: 360px;
  height: 40px;

  font-weight: 400;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #808080;
  opacity: 0.7;
}

input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  color: #808080;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  min-width: 120px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;
  color: #fff;

  border-radius: 8px;
  background-color: #4e75ff;
  border: none;
}

button:hover {
  background: #6c8cff;
}

/* task-1 */

.item {
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 8px;
  width: 392px;
  background: #f6f6fe;
}

.item h2 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
}

.item li {
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.item li:not(:last-child) {
  margin-bottom: 8px;
}

/* task-2 */

.gallery {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 48px 24px;
  flex-wrap: wrap;
  width: 1128px;
}

.gallery-image {
  height: 100%;
  display: block;
  width: 300px;
}

/* task-3 */

#name-input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding-left: 16px;
  outline: none;
  margin-bottom: 16px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* task-4 */

.login-form,
.login-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-form input {
  width: 360px;
}

.login-form button {
  max-width: 86px;
  margin-top: 16px;
}

/* task-5 */

.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.widget p {
  margin-bottom: 16px;
  font-size: 16px;
}

/* task-6 */

#controls {
  display: flex;
  gap: 16px;
}

#controls input {
  min-width: 150px;
}

button[data-destroy] {
  background-color: #ff4e4e;
}

button[data-destroy]:hover {
  background-color: #ff7070;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 32px;
}